.register {
	height: calc(100vh - 50px);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.registerTitle {
	font-size: 50px;
}

.registerForm {
	margin-top: 20px;

	display: flex;
	flex-direction: column;
}

.registerForm > label {
	margin: 10px 0;
}

.registerInput {
	padding: 10px;
}

.registerButton {
	margin-top: 20px;
	padding: 10px;

	color: white;
	background-color: lightcoral;
	cursor: pointer;

	border: none;
	border-radius: 10px;
}

.loginButton {
	position: absolute;
	top: 60px;
	right: 20px;

	color: white;
	background-color: teal;
	cursor: pointer;
	padding: 10px;

	border: none;
	border-radius: 10px;
}
